body {
  header,
  main,
  footer {
    padding-right: var(--scroll-size);
  }
}

.no-scroll {
  main {
    padding-right: 0;
  }
}

body,
.scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
  width: 5px; /* вер скролл */
  height: 2px; /* гор скролл */
}

body::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
  background: #ecf4ff;
}

body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
  background: #00193a;
}
